<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>PokeParty - {% block title %}{% endblock %}</title>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.0/dist/jquery.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
        {% block header %}{% endblock %}
    </head>
    <body>
        {% block content %}{% endblock %}
        <footer class="position-fixed bottom-0 d-flex flex-wrap justify-content-between align-items-center px-3 my-4 w-100">
            <div class="col-4 mb-0 text-muted">PokeParty</div>
            <span class="col-4 mb-0 text-center">
                Like the site? I appreciate any <a class="link-secondary" href="https://paypal.me/norwegianwhaler?country.x=US&locale.x=en_US">tips!</a>
            </span>
            <div class="d-flex col mb-0 justify-content-end">
                <a class="fs-2 link-secondary" href="https://github.com/linkian209/PokeParty"><i class="bi bi-github"></i></a>
            </div>
        </footer>
    </body>
</html>
