<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>PokeParty Overlay - {{id}}</title>
        <link rel="stylesheet" href="/static/css/overlay.css">
    </head>
    <body style="width:{{width}}px;height:{{height}}px">
        <div class="container" style="width: 100%; height: 100%">
            {% for row in layout %}
            <div class="row row-{{ layout|length }}">
                {% for col in row %}
                <div class="col">
                    <div class="poke-slot">
                        <div class="poke-container">
                            {% if col["pokemon"] is not none and col["pokemon"] != "" %}
                            <object id="pokemon{{ col["index"] }}" class="pokemon" type="image/svg+xml" data="{{ '/static/img/pokesprite/pokemon-gen8/regular/' ~ col["pokemon"] ~ '.svg' }}"></object>
                            {% else %}
                            <object id="pokemon{{ col["index"] }}" class="pokemon" type="image/svg+xml" data=""></object>
                            {% endif %}
                            {% if col["item"] is not none and col["item"] != "" %}
                            <object id="item{{ col["index"] }}" class="item" type="image/svg+xml" data="{{ '/static/img/pokesprite/items' ~ ('-outline' if outline else '') ~ '/hold-item/' ~ col["item"] ~ '.svg' }}"></object>
                            {% else %}
                            <object id="item{{ col["index"] }}" class="item" type="image/svg+xml" data=""></object>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        <script>
            var ws = new WebSocket("{{ url_for('websocket_endpoint', client_id=client_id) }}");
            ws.onmessage = (e) => {
                var update = JSON.parse(e.data);
                
                let new_value = "";
                if(update.name == "") {
                    new_value = "";
                } else {
                    if(update.type == "pokemon") {
                        new_value = "/static/img/pokesprite/pokemon-gen8/regular/" + update.name + ".svg";
                    } else if(update.type == "item") {
                        new_value = "{{ '/static/img/pokesprite/items' ~ ('-outline' if outline else '') ~ '/hold-item/' }}" + update.name + ".svg";
                    } else {
                        console.error("Unknown message: " + update);
                        return;
                    }
                }
                document.getElementById(update.type + update.index).setAttribute("data", new_value);
            }
        </script>
    </body>
</html>